In [4]:
import pandas as pd
taxi = pd.read_csv("taxi_train.csv", sep=',', nrows=10)
taxi.head(10)

       pickup_datetime  passenger pickup_geohash dropoff_geohash  fare
0  2009-06-15 17:26:21          1   dr5rxth4yu4c    dr5rxeqnjy8v   4.5
1  2010-01-05 16:52:16          1   dr5reer0t0fm    dr72h81uqhe9  16.9
2  2011-08-18 00:35:00          2   dr5rukr7t72n    dr5ru63jpp74   5.7
3  2012-04-21 04:30:42          1   dr5rsrhpybjq    dr5ru7bcpe0c   7.7
4  2010-03-09 07:51:00          1   dr5ruvd4f7wb    dr72j06qth30   5.3
5  2011-01-06 09:50:45          1   dr5rsnfnuw1v    dr5ruey9ftmf  12.1
6  2012-11-20 20:35:00          1   dr5rud97th2k    dr5rutjbmmr6   7.5
7  2012-01-04 17:22:00          1   dr5rvnwq9f4p    dr5ru6d01cfq  16.5
8  2012-12-03 13:10:00          1   dr5reyn4k3w6    dr5rsnzyumf1   9.0
9  2009-09-02 01:11:00          2   dr5rsx2uj8r1    dr5ru7c125sg   8.9